fastapi
uvicorn[stantard]
sqlalchemy
pydantic
python-dotenv
pytest
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
beautifulsoup4
google-genai
PyMuPDF
apscheduler==3.11.3
scikit-learn==1.9.0
streamlit